# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.tic.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\mavri\Code\tic\.idea\.idea.tic.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
